* {
    box-sizing: border-box;
  }
  
  /* Create four equal columns that floats next to each other */
  .set {
    float: left;
    width: 25%;
    padding: 10px;
    margin: 0px;
    border: black solid 1px;
  }
  
  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .set {
      width: 50%;
    }

    #MyTitle{
        width: 50%;
    }

    #MyFoot{
        width: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .set {
      width: 100%;
    }

    #MyTitle{
        width: 100%;
    }

    #MyFoot{
        width: 100%;
    }
  }


#Adiv{
    background-color: green;
}

#Bdiv{
    background-color: grey;
}

#Cdiv{
    background-color: dodgerblue;
}

#Ddiv{
    background-color: violet;
}


li{
    width: 20px;
    height: 25px;
    background-color: tan;
    border: black solid 2px;
    padding-left: 5px;
    padding-right: 60px;
    margin: 5px;
}

li:hover{
    background-color: purple;
}

ul{
   list-style-type: none; 
}


#MyTitle{
    background-color: brown;
    border: black solid 2px;
    padding: 5px;
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
}

#MyFoot{
    background-color: brown;
    border: black solid 2px;
    padding: 5px;
    margin: 10px;
    float: left;
    width: 100%;
}